.about{
    padding:93px 0 115px;
    
    @include media-tablet{
        padding: 50px 0;
    }
    @include media-mobile{
        padding: 25px 0 8px;
    }
}
.about__title{
    margin-bottom: 76px;
    
    @include media-mobile{
        margin-bottom: 19px;
    }
}
.about__txt{
    margin-bottom: 30px;
}