$colors:(
    white: #FFFFFF,
    gray-1: #333333,
    back-color: #FFFAF2,
    brown-100: #F5D6AB,
    brown-700: #C66C49,
);
$breakpoints: (
    tablet: 1200px,
    tablet-sm: 1000px,
    mobile: 650px,
);